<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/megadraft@0.5.0/dist/css/megadraft.css" type="text/css">
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>

  <style type="text/css">
    .ReactFlipCard {
      margin: 25px;
      text-align: center;
    }
    .ReactFlipCard,
    .ReactFlipCard__Front,
    .ReactFlipCard__Back {
      box-sizing: border-box;
      width: 100%;
      height: auto;
    }

    .ReactFlipCard__Front {
      background-color: #eee;
    }
    .ReactFlipCard__Back {
      background-color: #cef;
    }
    #example {
      text-align: center;
    }
  </style>


</head>

<body>
  <div id="root"></div>
</body>

</html>
